<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New User</title>
</head>

<body>
    <h1>Add a New User!</h1>
    <form action="/users/create" method="POST">
        <label>First Name</label>
        <input type="text" name="first_name">
        <br>
        <label>Last Name</label>
        <input type="text" name="last_name">
        <br>
        <label>Email</label>
        <input type="text" name="email">
        <br>
        <button>Create!</button>
    </form>
</body>

</html>